extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1.bounceIn Taemin Song

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | I am a fullstack javascript developer. My passion is to study the physics of the nature to better understand the future of mankind. As a result, I have worked as an educator for Physics and Maths.
            | I also have been participating in a number of extracurricular activities. I have learned what it means to work as a team, to communicate effectively, and to work with people who come from different backgrounds. I have shown initiatives to learn and challenge my views in order to gain new insights and grow as an intellectual.
            | Oh and did I mention that I love playing basketball and board games? Looking forward to connecting with you!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Javscript
          li Node.js
          li HTML
          li CSS 
          li jQuery
          li Ajax
          li SQL
          li Java
          li Python
        h6 Contact Info

        
        ul
          li 0432 745 147
          li taemine.song@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/stefan-taemin-song/') LinkedIn
        a.button.expanded(href='https://github.com/Tssongy') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  